.container {
  max-width: 900px;
}
.tabs {
  border: none;
}
@media (max-width: 437px) {
  .tabs {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 437px) {
  .tabs .ni {
    width: 100%;
    text-align: center;
    padding: 5px;
  }
}
.tabs .ni .nla {
  background-color: #413f3f;
  color: white;
}
.jumbotron {
  background: white;
}
.middle-content {
  width: 100%;
}
.btn-secondary {
  background: #413f3f;
  box-shadow: 5px 5px 5px black;
}
.t2 h4 {
  width: 100%;
}
.grplst {
  width: 100%;
}
.rowtop .cltp .jumbotron .crd {
  width: 100%;
  display: flex;
}
.table {
  width: 100%;
}
.table td {
  width: 33%;
}
.card {
  box-shadow: 5px 5px 5px black;
}
.line {
  width: 100%;
}
.lineimg img {
  box-shadow: 5px 5px 5px black;
}
.wh {
  text-decoration-line: underline;
}
