.container {
  width: 100%;
  max-width: 1000px;
  border: solid black 1px;
  margin: 30px auto;
}
.btnlink {
  background-color: seagreen;
}
.btngit {
  background-color: salmon;
}
img {
  width: 83%;
}
.mainthang {
  font-size: 1.3rem;
}
ul {
  margin: 116px 0 0 0;
}
.jumbotron {
  width: 100%;
}
.bio {
  font-size: 1rem;
}
.container {
  background-color: beige;
}
.jumbotron {
  background-color: beige;
}
.lead {
  font-size: 2.5rem;
}
.table {
  position: relative;
  right: 13px;
}
.card {
  border: dotted darkgreen 1px;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 30px;
}
.title11 {
  font-size: 1.6rem;
}
.table1 {
  margin: 0 0 0 0;
  position: relative;
  left: 0%;
  background-color: white;
  margin-bottom: 30px;
}
