body {
  font-size: 60%;
}
a {
  font-size: 1rem;
}
.bgImg {
  background: url('../img2/earthbg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.languages-row {
  font-size: 2rem;
  color: red;
}
