body {
  background: #bfb7e6;
}
.container {
  max-width: 900px;
}
nav {
  padding: 20px 0;
}
nav a {
  color: black;
}
.jumbotron {
  background: offwhite;
}
.jumbotron .btn {
  background: gray;
  border: 1px solid white;
}
.table-row {
  margin-top: 20px;
}
.footer {
  margin-top: 20px;
  padding: 20px 0;
  background: gray;
  color: white;
}
.row .col-sm-6 {
  background: #91a3f5;
  border: 1px solid #403874;
  border-radius: 2%;
}
.row .col-sm-6 .list-group li {
  background: #bfb7e6;
}
