.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.border {
  border: 2px groove goldenrod;
}
.custom-margin-top {
  margin-top: 50px;
}
.container {
  max-width: 1000px;
  background: lightblue;
}
.row {
  margin-top: 50px;
}
.col {
  padding-top: 10px;
}
.jumbotron {
  margin-bottom: 0;
}
.table {
  margin-bottom: 0;
}
.custom-column {
  border: 2px groove goldenrod;
  margin: 5px;
  padding-bottom: 10px;
}
.custom-img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 0;
}
.custom-nav {
  margin-top: 0;
}
.nav {
  border: 2px groove goldenrod;
  width: 100%;
}
.work-experience {
  margin-top: 50px;
}
.skills {
  margin-top: 50px;
}
