
.jumbotron {
  background-color: #68a9cc;
  justify-content: center;
 
}

.container {
  max-width: 700px;
  background-color: #c2d3ef;
}
nav {
  padding: 20px 0;
  margin-right: 200px;
background-color: #102951;
}
nav a {
  color: white;


}
nav a:hover { 
    background-color: white;
}

.table-row {
  margin-top: 20px;
}
.footer {
  margin-top: 20px;
  padding: 20px 0;
  background:#4d75b7;
  color: white;
}
img {
  margin-left: 20px;

}

body {
  background-color: white;
}

.btn  {
  color: white;
  background-color: #133d82;

}

.justify-content-end {
  background-color: #102951
}