.nav {
  margin-top: 50px;
}
.card {
  margin-top: 15px;
  background-color: lightslategray;
  color: white;
}
.jumbo-highlight {
  margin-top: 15px;
  background-color: lightsteelblue;
  align-items: center;
}
.jumbo-highlight .jumbo-body {
  background-color: lightsteelblue;
}
.portfolio .list-group-item {
  background: royalblue;
}
.portfolio .list-group-item .nav-link {
  background: lightslategrey;
  color: white;
}
