body {
  background-color: lightcoral;
}
.navbar {
  background: gray;
  font-color: black;
}
.nav-link {
  color: white;
}
.nav-link.active {
  color: coral;
}
img.nav-img {
  height: 250px;
  width: 450px;
  margin-top: 90px;
  margin-left: 86px;
  transform: rotate(-15deg);
  z-index: 4;
}
.jumbotron {
  background-color: lightpink;
  padding-top: 50px;
  margin-top: -250px;
  position: relative;
  text-align: center;
  color: white;
  z-index: -4;
  height: 670px;
}
.name-content {
  height: 512px;
  width: 460px;
  position: absolute;
}
.display-4 {
  position: absolute;
  margin-top: 200px;
  margin-left: 50px;
  font-size: 90px;
}
.lead {
  position: absolute;
  margin-top: 366px;
  margin-left: 57px;
  padding-top: 10px;
  width: 500px;
}
.img-fluid {
  height: 500px;
  width: 100%;
}
.box {
  display: flex;
  width: 100%
	width: 400px;
}
.no-gutters {
  margin-top: 50px;
}
.card-img-top {
  height: 300px;
}
.carousel-item .active {
  height: 400px;
  width: 50%;
  position: absolute;
}
.d-block .w-100 {
  background-size: cover;
}
.carousel-jumbotron {
  height: 400px;
  width: 40%;
  float: right;
}
.transbox {
  margin: 100px:
	height: 5px;
  background-color: black;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
#letters {
  padding-top: 100px;
  margin-left: 302px;
}
.title1 {
  padding-top: 183px;
  padding-left: 500px;
}
.last1 {
  letter-spacing: 19px;
  font-size: 69px;
}
.floating-letters-text {
  list-style: none;
  position: absolute;
  /*   top: 10%;*/
  transform: translateX(-50%) translateY(-50%);
  margin-top: 25px;
  font-size: 17px
    width: 100%;
}
.floating-letters-text li {
  display: inline-block;
  margin-right: -20px;
  font-size: 5em;
  opacity: 1;
  transition: all 2.5s ease;
  margin-top: 100px;
  padding: 10px;
  color: gray;
}
.floating-letters-text li:last-child {
  margin-right: 0;
}
.floating-letters-text .hidden {
  opacity: 0;
}
.floating-letters-text.hidden li:nth-child(1) {
  transform: translateX(-200px) translateY(-200px);
}
.floating-letters-text.hidden li:nth-child(2) {
  transform: translateX(20px) translateY(100px);
}
.floating-letters-text.hidden li:nth-child(3) {
  transform: translateX(-150px) translateY(-200px);
}
.floating-letters-text.hidden li:nth-child(4) {
  transform: translateX(50px) translateY(400px);
}
.floating-letters-text.hidden li:nth-child(5) {
  transform: translateX(-300px) translateY(200px);
}
.floating-letters-text.hidden li:nth-child(6) {
  transform: translateX(300px) translateY(-20px);
}
.floating-letters-text.hidden li:nth-child(7) {
  transform: translateX(20px) translateY(-20px);
}
.floating-letters-text.hidden li:nth-child(8) {
  transform: translateX(-100px) translateY(-400px);
}
.motto {
  margin-top: 450px;
  border: 1px solid white;
  height: 103px;
  background-color: lightpink;
  opacity: 0.6;
  height: 100px;
}
