.container #top-nav .bg-light {
  margin-right: 15px;
}
@media (max-width: 767.98px) {
  .container #top-nav .bg-light {
    justify-content: center;
    background: rgba(118, 101, 146, 0.6);
    max-width: 70%;
    margin-left: 15%;
  }
}
.container #top-nav .bg-light button {
  background: #3481C8;
}
.container #top-nav .bg-light button a {
  color: #fff;
}
.container #jumbo {
  height: 100%;
}
.container #jumbo .background {
  background: url('../neil-rosenstech-467457.jpg') no-repeat center fixed;
  height: auto;
  max-width: 100%;
  background-size: cover;
}
.container #jumbo .background .bg-overlay {
  background: rgba(255, 255, 255, 0.5);
}
.container #jumbo2 {
  display: none;
}
.container #skillz {
  padding-bottom: 20px;
  margin-bottom: 15px;
}
.container #skillz #top-heading {
  margin: 10px 2% 20px 2%;
}
.container #skillz .col-4 .list-group-item {
  text-align: center;
}
@media (max-width: 767.98px) {
  .container #skillz .col-4 .list-group-item {
    max-width: 100%;
    margin: 12%;
    padding: 20%;
  }
}
