body {
  background-color: lightblue;
}
body .mainspace {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}
.jumbotron {
  background-color: orange;
  border: 2px solid blue;
}
.jumbotron .container .row {
  margin: 0;
}
.jumbotron .container .jumbo-text {
  display: flex;
  align-items: center;
}
.jumbotron .container img {
  width: 100%;
}
.abilities {
  text-align: center;
}
.about h2 {
  text-align: center;
}
.battles {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row {
  margin: 30px 0;
}
