.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 1200px;
  margin: auto;
}
.row {
  margin: 20px auto;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  height: 100%;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #10A0E0;
}
.jumbotron img {
  -webkit-box-shadow: 10px 4px 10px #10A0E0;
  -moz-box-shadow: 10px 4px 10px #10A0E0;
  box-shadow: 10px 4px 10px #10A0E0;
}
.table-row {
  padding-top: 20px;
  padding-bottom: 20px;
}
