.topofPage {
  background-image: url("https://downloops.com/wp-content/uploads/edd/2017/05/Starfield-Stars-Universe-FlyBy-Motion-Background-Video-Loop-Sample2-1.jpg");
  background-color: #08102c;
  color: white;
  margin: 0;
}
