body {
  background: lavender;
}
.btn-secondary {
  color: whitesmoke;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav {
  background-color: indigo;
  background-image: -webkit-gradient(linear, left top, right top, from(indigo), to(lightgray));
  background-image: -webkit-linear-gradient(left, indigo, lightgray);
  background-image: -moz-linear-gradient(left, indigo, lightgray);
  background-image: -ms-linear-gradient(left, indigo, lightgray);
  background-image: -o-linear-gradient(left, indigo, lightgray);
}
.nav li {
  text-align: center;
  width: 100%;
}
@media (min-width: 576px) {
  .nav li {
    width: auto;
  }
}
.nav .nav-link {
  color: lightgray;
}
.nav-col {
  padding: 0;
}
.jumbotron {
  padding: 0;
}
.text-content {
  background: lightsteelblue;
  border: 1px solid black;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 10px 10px 2px 1px rgba(0, 0, 255, 0.2);
  -moz-box-shadow: 10px 10px 2px 1px rgba(0, 0, 255, 0.2);
  box-shadow: 10px 10px 2px 1px rgba(0, 0, 255, 0.2);
}
