.section {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 2%;
  background: #f8dce9;
}
.section h1 {
  font-family: 'Annie Use Your Telescope', cursive;
}
.handwriting {
  font-family: 'Annie Use Your Telescope', cursive;
}
nav {
  background: #CC4BC2;
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 1.6rem;
}
.navbar-brand {
  font-size: 2.0rem;
}
.btn-primary {
  background: #DD5E98;
  border: 1px solid white;
}
.btn-primary:hover {
  background: #b02564;
  border: 1px solid white;
}
.jumbotron {
  margin-top: 5%;
  background: #C0F8D1;
}
.jumbotron h1 {
  font-family: 'Annie Use Your Telescope', cursive;
}
.experience-section,
.portfolio-section,
.education-section,
.contact-hobbies-section {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 2%;
  background: #f8dce9;
}
.experience-section h1,
.portfolio-section h1,
.education-section h1,
.contact-hobbies-section h1 {
  font-family: 'Annie Use Your Telescope', cursive;
}
.progress {
  margin: 2%;
  background: #eefdf3;
}
.progress-bar {
  background-color: #CC4BC2;
  background-image: linear-gradient(45deg, #DD5E98 25%, transparent 25%, transparent 50%, #DD5E98 50%, #DD5E98 75%, transparent 75%, transparent);
}
.row {
  margin: 4% 0;
}
.icon {
  max-width: 30px;
  margin-right: 3%;
}
