body {
  background: black;
  margin: 0;
}
#myVideo {
  position: sticky;
  right: 10;
  bottom: 10;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  width: 100%;
}
/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: black;
  color: white;
  width: 50%;
  padding: 20px;
}
/* Style the button used to pause/play the video */
#myBtn {
  width: 50px;
  font-size: 7px;
  padding: 5px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  border-radius: 10vh;
}
#myBtn:hover {
  background: teal;
  color: teal;
}
