h1,
h5 {
  font-family: 'open sans', sans-serif;
}
.jumbotron {
  margin-top: 85px;
}
.shades {
  box-shadow: 0 1px 4px gray;
}
.maarg {
  margin-top: 15px;
}
.footer {
  padding: 15px;
  text-align: center;
  align-items: center;
}
