.container {
  max-width: 900px;
}
nav {
  padding: 20px 0;
  background: #1D3461;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  position: fixed;
}
nav a {
  color: black;
}
.jumbotron {
  background: #3B7FBA;
  color: white;
  padding: 1rem;
  margin-bottom: 0;
  border-bottom: 4px solid #829CBC;
}
.jumbotron .btn {
  background: #3B7FBA;
  color: white;
}
.about-section {
  background: #C3C3C3;
  margin: 0 auto;
  border-bottom: 4px solid #829CBC;
}
.card {
  background: #1D3461;
  color: white;
}
.contact-header {
  border-radius: 0 !important;
}
.icons {
  background: black;
}
.table-row {
  margin-top: 20px;
}
.footer {
  margin-top: 20px;
  padding: 20px 0;
  background: gray;
  color: white;
}
.vertical-align {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
