.color-me {
  font-family: 'Lobster', cursive;
  color: #483d8b;
  font-weight: bold;
}
body h1 {
  font-family: 'Monoton', cursive;
}
body h2 {
  font-family: 'Limelight', cursive;
}
body {
  font-family: 'Limelight', cursive;
}
p {
  font-family: 'Limelight', cursive;
}
.fa {
  color: #483d8b;
}
.btn-primary {
  background-color: #483d8b;
  color: white;
}
.fa:hover {
  opacity: 0.7;
}
.footer {
  height: 50px;
  width: 100%;
  padding: 2% 0;
  background-color: #f8f9fa;
  color: #708090;
  text-align: center;
}
.footer p {
  font-family: 'Lobster', cursive;
}
