@media (min-width: 576px) {
  body {
    min-width: 576px;
  }
}
@media (min-width: 768px) {
  body {
    min-width: 768px;
  }
}
@media (min-width: 992px) {
  body {
    min-width: 992px;
  }
}
@media (min-width: 1200px) {
  body {
    min-width: 1200px;
  }
}
body nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .list-group-custom {
  margin-top: 40px;
}
body .list-group-custom .list-group-item-bold {
  font-weight: bold;
}
body .tableheading {
  margin-top: 40px;
}
body footer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  border-top: 1px dashed dodgerblue;
}
