nav {
  background: #CC4BC2;
}
.btn-primary {
  background: #DD5E98;
  border: 1px solid pink;
}
.btn-primary:hover {
  background: #b02564;
  border: 1px solid pink;
}
.jumbotron {
  margin-top: 5%;
  background: #C0F8D1;
}
.portfolio-section {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 2%;
}
.experience-section {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 2%;
}
.progress {
  margin: 2%;
  background: #eefdf3;
}
.progress-bar {
  background-color: #CC4BC2;
  background-image: linear-gradient(45deg, #DD5E98 25%, transparent 25%, transparent 50%, #DD5E98 50%, #DD5E98 75%, transparent 75%, transparent);
}
.row {
  margin: 4% 0;
}
