.container {
  max-width: 880px;
}
nav {
  margin: 20px 0;
}
nav a {
  color: grey;
}
.jumbotron .btn {
  background: black;
  border: 1px solid white;
}
.custom-row {
  margin: 20px 0;
}
.table-row {
  margin-top: 50px;
}
