html,
body {
  background: black;
}
.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}
.container {
  max-width: 880px;
  width: 100%;
  background: black;
}
.header {
  background: purple;
}
.nav-link {
  color: whitesmoke;
}
.banner {
  width: 100%;
}
.main-content .jumbotron {
  padding: 0rem 0rem;
  width: 100%;
  border-radius: 0;
  background: black;
  color: whitesmoke;
}
.main-content .btn-primary {
  color: #fff;
  background-color: #e95b5b;
  border: 5px solid black;
}
.btn-group-lg > .btn,
.btn-lg {
  padding: 0.25rem .5rem;
  font-size: 1.0rem;
  line-height: 1.5;
  border-radius: 0rem;
}
.info-tabs .list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #e95b5b;
  border-color: #e95b5b;
}
.info-tabs .list-group-item {
  background: burlywood;
}
.info-tabs .col-8 {
  color: white;
}
.badge .btn {
  border-radius: 2rem;
}
.badge .btn-primary {
  color: #fff;
  background-color: #e95b5b;
  border-color: #e95b5b;
}
.card {
  margin-top: 30px;
  background: burlywood;
}
.card .card-img-top {
  width: 50%;
  height: 50%;
}
.card .btn-primary {
  color: #fff;
  background-color: #e95b5b;
  border-color: #e95b5b;
}
.card .btn-link {
  color: black;
  font-size: 1.5rem;
}
.card .btn-link:hover {
  color: white;
  text-decoration: none;
  background-color: transparent;
  border-color: transparent;
}
.card .card-body {
  background: #ffd49b;
}
.carousel {
  margin-top: 30px;
  background: black;
  border-radius: .25rem;
}
form {
  margin-top: 30px;
}
form label {
  color: white;
}
.contact {
  background: black;
}
