html,
body {
  background: whitesmoke;
}
.container {
  border: 2px solid lightsteelblue;
  max-width: 600px;
  background: #D3EDF3;
  font-family: 'Work Sans', sans-serif;
}
h1 {
  text-align: center;
  font-family: 'Anonymous Pro', monospace;
}
h1 span {
  font-family: 'Roboto Condensed', sans-serif;
}
p {
  text-align: center;
  color: magenta;
  font-family: 'Poiret One', cursive;
}
.one {
  color: blue;
  font-family: 'Cabin Sketch', cursive;
}
.two {
  color: green;
}
.three {
  color: red;
  font-family: 'Iceland', cursive;
}
.rachel {
  text-align: center;
}
.code {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  width: 420px;
  margin: 20px 0;
  border: 3px solid steelblue;
  background: yellow;
  justify-content: center;
}
.list {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  width: 420px;
  margin: 20px 0;
  border: 3px solid steelblue;
  justify-content: center;
}
.row .col-sm-6 1 .card {
  border: 2px dotted slategray;
}
