.nav {
  background-color: black;
  z-index: 1030;
}
.nav .nav-item {
  color: #007bff;
}
.nav .nav-item:hover {
  color: white;
}
.main-content {
  max-width: 980px;
  margin: 80px auto 0;
}
.main-content .list-group-item {
  padding: 45px;
  font-size: 20px;
  font-weight: bold;
}
.main-content .card {
  width: 25rem;
}
.main-content .black-border {
  margin-top: 50px;
  border: 5px solid black;
}
.main-content img {
  border: 2px solid #007bff;
}
.jumbotron {
  padding: 40px 0 15px 0;
  margin: 0 auto;
}
.carousel {
  margin: 0 auto 30px;
}
.carousel .carousel-item img {
  height: 400px;
}
@media (max-width: 830px) {
  .main-content .card {
    order: -1;
  }
  .main-content .list-group-item {
    padding: 45px 20px;
  }
}
@media (max-width: 775px) {
  .main-content .card {
    width: 60%;
  }
  .main-content .black-border {
    margin-top: 10px;
  }
  .main-content .list-group-item {
    padding: 55px;
    margin: 0 50px;
  }
  .jumbotron {
    padding: 40px 0 30px 0;
  }
  .carousel {
    margin-bottom: 50px;
  }
  .carousel .carousel-item {
    height: 350px;
  }
}
@media (max-width: 650px) {
  .main-content .card {
    width: 75%;
  }
  .main-content .list-group-item {
    padding: 35px;
    margin: 0;
  }
  .carousel {
    margin: 20px auto 70px;
  }
  .carousel .carousel-item {
    height: 300px;
  }
}
@media (max-width: 550px) {
  .main-content .list-group-item {
    padding: 25px;
  }
  .carousel {
    margin: 10px auto 50px;
  }
}
@media (max-width: 415px) {
  .shrink-padding {
    padding-left: 3px;
    padding-right: 3px;
  }
  .carousel {
    margin: 0 auto 50px;
  }
}
