nav {
  margin-bottom: 20px;
}
footer {
  margin-top: 20px;
  background: darkgray;
  color: white;
  width: 100%;
}
.index {
  margin-bottom: 40px;
}
.index .info-deck {
  margin-bottom: 20px;
}
.index .info-deck .info-card {
  height: 330px;
  width: 250px;
}
