.nav {
  justify-content: flex-end;
}
.jumbo {
  margin-bottom: 20px;
}
.prof-pic {
  border-radius: 50%;
  width: 50%;
  display: block;
  border: 2px solid;
}
i {
  font-size: 8rem;
  margin-left: 40px;
}
