.nav {
  background-color: black;
  z-index: 1030;
}
.nav .nav-item {
  color: #007bff;
}
.nav .nav-item:hover {
  color: white;
}
.main-content {
  margin-top: 80px;
}
.main-content .list-group-item {
  padding: 45px;
  font-size: 20px;
  font-weight: bold;
}
.main-content .card {
  width: 25rem;
}
.main-content .black-border {
  margin-top: 50px;
  border: 5px solid black;
}
.main-content img {
  border: 2px solid #007bff;
}
.carousel {
  margin: 0 auto 50px;
}
.carousel .carousel-item img {
  height: 500px;
}
@media (max-width: 830px) {
  .main-content .card {
    order: -1;
  }
}
@media (max-width: 775px) {
  .main-content .card {
    width: 75%;
    margin: 0 50px;
  }
  .main-content .black-border {
    margin-top: 10px;
  }
  .carousel-item {
    height: 300px;
  }
}
