nav {
  margin-bottom: 20px;
}
footer {
  margin-top: 20px;
  background: darkgray;
  color: white;
  width: 100%;
}
.index {
  margin-bottom: 40px;
}
.index .info-deck {
  margin-bottom: 20px;
}
.index .info-deck .info-card {
  height: 330px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
}
.index .info-deck .info-card .card-body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.index .info-deck .info-card .card-body .coloring {
  height: 330px;
  width: 100%;
}
.index .info-deck .info-card .card-body .wgu-coloring {
  background: #003057;
}
.index .info-deck .info-card .card-body .lambda-coloring {
  background: black;
}
.index .info-deck .info-card .card-body .github-coloring {
  background: black;
}
.index .info-deck .info-card .card-body .logo img {
  transform: translateY(-40px);
}
.index .info-deck .info-card .card-body .logo .lambda-logo {
  height: 140px;
  width: 140px;
}
