.container-quicklinks {
  display: flex;
  justify-content: center;
}
.container-jumbotron {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: auto;
}
.jumbotron .profilephoto {
  display: flex;
  justify-content: center;
  width: 250px;
}
.container-virtualcard {
  display: flex;
  justify-content: center;
}
