.container-fluid {
  width: 100%;
}
h1 {
  text-align: center;
}
nav {
  background-color: darkred;
  height: 30px;
  width: 100%;
}
nav a {
  color: whitesmoke;
  font-weight: bold;
  display: flex;
}
.custom-photo {
  display: flex;
  flex-direction: row;
  margin: auto;
}
.objective {
  text-align: center;
}
.lead {
  text-align: center;
}
.card-img {
  margin-bottom: 20px;
  max-width: 290px !important;
}
.copyright {
  text-align: center;
  font-weight: bold;
}
