nav a {
  text-decoration: none;
  color: lightgrey;
}
nav a:hover {
  color: teal;
}
nav .btn {
  color: lightgrey;
  background: teal;
  border: none;
}
nav .btn:hover {
  color: white;
  background: #A54764;
}
.jumbotron .btn {
  color: lightgrey;
  background: teal;
  border: none;
}
.jumbotron .btn:hover {
  color: white;
  background: #A54764;
}
.card-stretch {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
@media (max-width: 576px) {
  .card-stretch {
    flex-direction: column;
  }
}
.card-stretch .card {
  margin: 10px;
}
.list-group {
  margin: 20px 0;
}
.table {
  margin: 20px 0;
}
.footer {
  padding-top: 20px;
  background: teal;
  color: white;
}
