.container {
  max-width: 900px;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
}
.jumbotron {
  background-color: #7ED643;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.jumbotron h1,
.jumbotron p {
  margin-top: 30px;
}
.jumbotron img {
  zoom: 80%;
  padding-left: 3.5%;
  border-radius: 50%;
}
.jumbotron button {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.para p {
  width: 100%;
  padding: 15px 0;
}
