.container .nav {
  display: block;
  justify-content: space-around;
  text-align: right;
}
.jumbotron {
  background-color: #FADBD8;
  display: block;
  justify-content: center;
}
.jumbotron .img-fluid {
  width: 250px;
  height: 250px;
}
.card {
  margin: 20px;
}
.row table-row no-gutters {
  margin: 20px;
}
