body {
  background-color: lightcoral;
}
.navbar {
  background: gray;
  font-color: black;
}
.nav-link {
  color: white;
}
.nav-link.active {
  color: coral;
}
img.nav-img {
  height: 200px;
  width: 400px;
  margin-top: 90px;
  margin-left: 86px;
  transform: rotate(-25deg);
  z-index: 4;
}
.bg {
  background-image: url('img/girlandlaptop.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbotron {
  background-color: lightpink;
  padding-top: 50px;
  margin-top: -150px;
  position: relative;
  text-align: center;
  color: white;
  z-index: -4;
}
.name-content {
  height: 512px;
  width: 460px;
  background: black;
  border: 8px solid coral;
  position: absolute;
}
.display-4 {
  position: absolute;
  margin-top: 200px;
  margin-left: 50px;
  border-bottom: 5px solid gray;
  font-size: 90px;
}
.lead {
  position: absolute;
  margin-top: 320px;
  margin-left: 50px;
  float: left;
}
.img-fluid {
  height: 500px;
  width: 100%;
}
.box {
  display: flex;
  width: 100%
	width: 400px;
}
.no-gutters {
  margin-top: 50px;
}
.card-img-top {
  height: 300px;
}
