.resume,
.bio,
.projects,
.pop-main,
.education,
.work-experience {
  box-shadow: -10px 5px 5px black;
}
.myName {
  text-shadow: -10px 5px 5px black;
}
.title-for-main {
  text-shadow: -5px -5px 10px black, 0 0 1em gray;
  color: white;
}
.text-for-complete,
.text-for-incomplete {
  text-shadow: 2px 2px 10px black;
  color: white;
}
