/* Mixins */
/* General Styles */
body {
  position: relative;
  font-family: 'Roboto', sans-serif;
}
/* Landing Styles */
.landing {
  width: 100%;
  height: 100vh;
  background-color: black;
  background-image: url('/img//background.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing .title {
  display: flex;
  align-items: flex-start;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}
