.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background: gray;
}
.container {
  max-width: 800px;
  border: 2px solid red;
  background-color: lightblue;
}
.custom-class {
  border: 2px solid red;
}
.jumbotron {
  margin-top: 15px;
  margin-right: 50px;
  padding: 17px;
  color: #990000;
  background-color: #FFFFCC;
}
.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: sienna;
  position: fixed;
  top: 0px;
  width: 15%;
  height: 100%;
  color: #e1ffff;
}
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}
heading-top {
  background: lightblue;
}
a {
  color: white;
}
.list-group {
  display: flex;
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
body {
  margin: 0px;
  padding: 0px;
}
