.container {
  max-width: 900px;
}
nav {
  padding: 20px 0;
  margin-right: 300px;

}
nav a {
  color: black;
}

.table-row {
  margin-top: 20px;
}
.footer {
  margin-top: 20px;
  padding: 20px 0;
  background: gray;
  color: white;
}
img {
  margin-left: 20px;
}

.jumbotron {
  
  
}