.biography {

    .biography-title {

        background-color: @breaker-bay;
        color: @concrete;

    }

}

.biography-content {

    margin: 20px 0;

    .stats {
        color: grey;
    }

    .info {
        color: grey;
    }


}