* {
    justify-content: center;
}
.container {
    max-width: 900px;
  }
  nav {
    padding: 20px 0;
  }
 .jumbotron img {
     width: 200px;
     height: 300px;
 }
 .card {
     margin: 0;
 }
 .alert {
     background: blue;
     color: white;
     width: 100%;
     justify-content: center;
 }
 .block {
     display: block;
     width: 100%;
     background: gold;
     color: white;
     margin: 20px;
     border-radius: 10px;
     align-self: auto;

 }