.bottom {
  margin-top: 10px;
  width: 560px;
  height:auto;

  .list-group{
    display:flex;
    align-items: center;
  }
  .list-group-item{
    width: 600px;
    margin-top: 5px;
    color:black; 
    background: #FDDC09;
  }
}
