.work-section {
    border-bottom: 2px solid black;
    padding-bottom: 20px;
    font-size: 1.1rem;
    line-height: 1.5;
    color: black;
    .flex-box(@flex-direction:row, @justify-content: space-between);
    .last-words {
        width: 44%;
    }
    .contact {
        .last-words;
    }
}