.top-content {

    .gaming {
        .center;
     
        p {
            span {
                font-style: italic;
                font-weight: bold;
                
            }
        }
        title {
            display: flex;
            justify-content: center;
        }

        
    }
}


.mid-content {
    
     .bullet-list {
        .center;
     }
    .title {
        font-size: 2.0rem;
        .center;
    }
    .skills {
        margin-bottom: 5px;
        padding-top: 15px;
        border-top: 1px solid black;
        .center;

    }

}