#contact {
    font-size: 2rem;
    margin: 12px 0;

    h6 {
        font-size: 2rem;
        text-align: center;
    }
    .contact__buttons {
        display: flex;
        justify-content: center;

        button {
            font-size: 5vw;

            @media (min-width: @BP-sm) {
                font-size: 4vw;
            }

            @media (min-width: @BP-md) {
                font-size: 2.4rem;
            }
        }
    }
}