.container {
    width: 100%;
    background-color: @concrete;
  
    .row-header {
      .col-sm-12 {
        .display-3 {
        background-color: @laser;
        color: @teal-blue;
        }
      }
  
      .col-sm-12 p {
        background-color: @breaker-bay;
        color: @concrete;
      }
  
      img {
        margin-top: 10px;
      }
    } //row
  } //container
  