
.cta-img {
    
     margin: 20px 0px;
    .border-radius();
}

.list-group li{

    color: grey;

    &:hover{
        background: black;
        color: white;
    }
}

.btn {
    margin-top: 10px;
}

