.cta {
    .cta__img {
        .grayscale-it(95%);

        &:hover {
            .grayscale-it(0%);
        }
    }

    .cta__text {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin: 16px 16px;
    }
}