.container {
    max-width: 880px;
}

.skills {

    h3 {
        display: flex;
        justify-content: center;
    }

    .card {
        margin-top: 3%;

        .card-header {
            // align-self: center;
            width: 100%;
            text-align: center
        }
    }
} 

.copyright {
    justify-content: center;
}
