body { 
    @media @mqsm {
        min-width: 576px;
    }
    @media @mqmd {
        min-width: 768px;
    }
    @media @mqlg {
        min-width: 992px;
    }
    @media @mqxl {
        min-width: 1200px;
    }
}

nav {
    .center;
}

.lists-row {
    margin-top: 20px;  
}

.list-group-item-bold {
    font-weight: bold;
}

