.container {
    // .red-border;
    max-width: 880px;
}

.container .paper {
    // background: @cloud;
}

.skills {
    // 
    // align-self: center;
    // .red-border;
    max-height: 500px;

    h3 {
        display: flex;
        justify-content: center;
    }

    .card {
        margin-top: 2%;
    }
}

.dark-card {
    .red-border;
    display: flex;
    align-self: flex-end;
} 

.copyright {
    justify-content: center;
}
