body {
    height: 100%;
    background: linear-gradient(180deg, white, blue, white);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }


.container {
    max-width:900px;
    background:#007bff;
    
}