
.main-header {
  padding: 20px 0;
  background-color: @primary-site-color;

  .main-header__logo {
    .center;
    color: white;
  }
  
  .main-header__nav {
    .center;

    a {
      font-size: 1.1rem;

      &:hover {
        background-color: darken(#007bff, 10%);
      }
    }
  }
}

