.navigation {
    width: 100%;
    margin: 10px 0;
    color: @green;
    
    .link {
    color: @green;
}
    .nav-item .active a {
        background-color: @green;
    }
}
    
        .jumbo {
            background: @tan;
            color: @black
            
            .top-content {
                text-align: center;
                padding: 10px;
            
                .selfie {
                    border: 7px double @green;
                    width: 100%
                    height: 120%
                }
        }
    }

