nav {
    margin: 20px auto;
    a {
        color: @dark-green;
        &:hover {
            color: white;
            background: @dark-green;
        }
    }
}

.jumbotron {
    background: @white-green;
  }