// Start here!
.container {  
  .jumbotron {
    .row{
      .firstRow {
          display: flex;
         justify-content: space-between; 
        img {
            width: 38%;
            height: 103%;
        }
        ul {
            align-content: flex-end;
        }
        }
      }
    }

}