// Start here!
.nav-bar {
    display: flex;
    justify-content: flex-end;
}

.jumbotron-fluid {
    display: flex;
    padding: 0;
    margin-bottom: 0px;
    background: rgba(15, 145, 73, 0.507);
    
    .img-fluid {
        width: 100%;
    }
    
    .lead {
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        padding: 5px 0 5px 0;
        font-size: 1.6rem;
    }

    .contact {
        font-size: 1.0rem;
        font-weight: normal;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0px 0 5px 0;
    }
}

.card {
    margin-left: 15px;
    .card-body {
        background-color: rgba(15, 145, 73, 0.507);
    }
    .card-text {
        font-size: 1.4rem;
    
         .card-img-top {
             width: 100%;
         }
        }
    }