// Start here!
.container{
    max-width: 900px;
}
.nav a{
    color: white;
}
.buffer-div{
    margin-top:2rem;
}
.jumbotron{
    color:white;
    background-color:#161616;
}
.img-fluid{
    border-radius: 120px / 10px 100px;
}
.row{
    color:white;
}
.list-group-item{
    background-color:#161616;
}
.footer{
    max-width: 100%;
    padding: 20px 0;
}