// Call To Action (CTA) Styles

.jumbotron {
   display: flex;
   justify-content: space-around;
   background: linear-gradient(to right, darkgrey, white);

   nav {
        // width: auto;
        display: flex;
        justify-content: flex-end;
        padding-right: 0;
        border: solid 2px red;
    
        a {
            &:hover {
                cursor: pointer;
                color: black;
            }
        }
    } 
}