
.jumbo-mumbo {
    padding: 0 15px;
    padding-bottom: 15px;

    .card {
        border: none;
        margin-bottom: 32px;
    }
    .jumbotron {
        padding: 15px;
        
        display: flex;
        flex-direction: column;
        
        align-items: center;

        .lead {
            margin-top: 30px;
        }
        .jumbo-button {
            margin-top: 30px;
        }


    }
}