#about {
	background-color: white;
	padding: 6%;
	margin-left: 4%;
	border: 2px solid @electric-lime;

	h2 {
		font-size: 3rem;
		color: @violet;
	}

	p {
		font-size: 2rem;
	}

}

#skills {
	background-color: @deep-plum;
	margin-right: 4%;
	padding: 6%;
	border: 2px solid @electric-lime;

	.front, .backend {
		text-align: center;

		h2 {
			font-size: 2.5rem;
			color: @electric-lime;
		}

		p {
			font-size: 1.6rem;
			color: white;
		}

		progress {
			appearance: none;
			width: 200px;
			height: 20px;
			background: @deep-plum;
			max-width: 80%;
		}
	}
}