.main-content {
    background: white;
    .header {
        display: flex;
        justify-content: space-between;
        @media @medium-screen {
            flex-direction: column;
        }
        // .contact {
        //     display: flex;
        //     justify-content: space-around;
        //     @media @under992 {
        //         justify-content: space-around;
        //     }
        // }
    }
}