.home {
  margin-top: 50px;
  width: 560px;
  height:auto;

    .jumbotron{
      background: #FDDC09;
    }
      .main-heading-content {
        font-size: 50px;

    }
    .title{
      margin-top: 20px;
    }
      p{
        font-size: 35px;
        @media(max-width:500px){
          font-size: 20px;
          width: 300px;
        }
    }

    .list-group-item{
      margin: 20px 0;
      width:240px;
      font-size: 20px;
      text-align: center;
      color: white;
      background: #D23535;


}

}
