
.center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.opacity (@opacity: 0.5) {
	-webkit-opacity: 	@opacity;
	-moz-opacity: 		@opacity;
	opacity: 		@opacity;
}

.box-shadow (@string) {
	-webkit-box-shadow: @string;
	-moz-box-shadow:    @string;
	box-shadow:         @string;
}

#main-headers() {
  .h1 {
    font-size: 3.5rem;
  }
}