.flex-justify(@justifyStr, @alignStr) {
    display: flex;
    justify-content: @justifyStr;
    align-items: @alignStr;
}

.title-font{
    font-family: 'Tangerine', serif;
}

.box-shadow (@string) {
	-webkit-box-shadow: @string;
	-moz-box-shadow:    @string;
	box-shadow:         @string;
}