.nav-container {
  display: flex;
  justify-content: flex-end;

  nav {
    a {
      color: @primary-color;
      &:hover {
        color: @secondary-color;
        background-color: @primary-color; 
      }
    }
  }
}
