.my-head {
    .my-head__nav {  
        border-bottom: 1px solid black;
        
        a {
            font-size: 1.7rem;
            color: black;
                
            &:hover {
                background-color: black;
                color: hotpink;
            }
        }        
    }
}