
.main-overview {
  margin-top: 60px;
}

.main-overview__img, 
.main-overview__title, 
.main-overview__seperator, 
.main-overview__content {
  .center;
}

.main-overview__img img {
  width: 40%;
  border: solid 1px black;
  border-radius: 50%;
}

.main-overview__title {
  margin-top: 20px;
}
.main-overview__title h1 {
  #main-headers.h1;
}

.main-overview__seperator img {
  width: 40%;
  .opacity;
}

.main-overview__content {
  text-align: center;
  margin: auto;
  margin-top: 20px;
  max-width: 800px;
}

