#projects {
  .project {
    margin-bottom: 1.5rem;

    .temp-box {
      background: gray;
      color: #FFF;
      height: 300px;
      width: 100%;
    }

    .project-title {
      margin-top: 1.5rem;
    }

    .project-text {
      margin-top: .75rem;
    }
  }
}