

.container {
    margin-top: 10%;
    max-width: 880px;
}

.menu {
    background: lavender;
    nav {
        a {
            color: rgb(61, 60, 60);
        }
    }
}

.top-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    .col {
       .name h2 {
        display: flex;
        justify-content: flex-end;
        align-items: center;

       }
       .name h1 {
           .center;
       }
    } 
}

.jumbotron {
    height: 300px;
}