#work-history {
  .job-listing {
    .timeframe {
      background: gray;
      color: #FFF;
      padding: .5rem;
      max-width: 125px;
      width: 100%;
    }

    .text-center {
          &:after {
        content: "";
        height: 100px;
        width: 2px;
      }
    }
  }
}