

.container {
    margin-top: 10%;
    max-width: 880px;
  

}

.menu {
    
    
    background: lavender;
    nav {
        a {
            color: rgb(61, 60, 60);
        }
    }
}

.top-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 3%;
  
    
    .col {
       .name h1, h2 {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        } 
    }
}

.mid-content {
    margin-bottom: 5%;
}

.jumbotron {
    height: 300px;
    margin-bottom: 0;
  
}

.btn {
    background: rgb(155, 123, 243);
    border: pink;
    &:hover {
        background: rgb(70, 70, 70);
    }
}

.bottom {
    margin-bottom: 100px;
}

