
.skills {
    
    .user-basic-info{
        height: 400px;

        .progress-bars-all {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p {
                font-size: 1.8rem;
            }

            .progress{
                width: 50%;
                margin-bottom: 10px;
            }
        } 
    }

    }
