.container{
  max-width: 800px;
  .custom-navbar{
    display: flex;
    justify-content: flex-end;
    background: #FE5F02;
    border-radius: 20px;
    a{
      margin: 5px 20px;
      color: white;
    }
  }
}
