// Variables

//fonts
@font-stack: SF Pro Text,Hanken Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;

@base-font-size: 1.6rem;

//theme
@nav-a-color: @pickled-bluewood;

@experience-active-color: @pickled-bluewood;


//colors
@pickled-bluewood: #2E394D;
