
@sm: ~"(min-width: 576px)";
@md: ~"(min-width: 768px)";
@lg: ~"(min-width: 992px)";
@xl: ~"(min-width: 1200px)";


@card-text-bg: lighten(rgba(63, 191, 184, 0.2), 20%);
@table-color: rgba(254, 245, 128, 0.77);